<div class="d-flex justify-content-center">
  <div class="task-container">
    <h1>Task List</h1>
    <div class="add-task">
      <input class="inputFild" [(ngModel)]="inputValue" type="text" id="new-task" placeholder="Add new task">
      <button (click)="add()" type="button" class="btn btn-primary">
        <span class="btn-text">Add</span>
        <span class="btn-icon"><i class="fa-solid fa-square-plus"></i></span>
      </button>
      
    </div>
    <div class="tasks-list">
      <div class="tasks" *ngFor="let task of tasks">
        <div class="task-item">
          <p>{{task}}</p>
          <button (click)="remove(task)" type="button" class="btn btn-danger">
            <i class="fa-solid fa-trash"></i></button>
        </div>
      </div>
    </div>
    <div class="exclude-all">
      <p>You have {{tasks.length}} tasks left</p>
      <button (click)="removeAll()" type="button" class="btn btn-danger">Remove all</button>
    </div>
  </div>
</div>