body {
    background-color: #f8f9fa;
  }
  
  .task-container {
    width: 45vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }
  
  .task-item {
    display: flex;
    align-items: center;
    margin-top: 15px;    
    border-radius: 10px;
    background-color: #f4f4f4;
  }
  

  
  .add-task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .add-task input[type="text"] {
    flex: 1;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
  }
  
  .add-task button {
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }
.btn {
  display: flex;
  justify-content: center;
  align-items: center;

}
.task-list {
  height: 50vh;
}

.exclude-all {
  display: flex;
  justify-content: space-between;
}

.tasks-list {
  overflow: scroll;
  max-height: 500px;
  min-height: 500px
}


.task-item{
  justify-content: space-between;
  vertical-align: center;
}

.task-item p {
  margin: 0;
}



.btn-danger {
  background-color: #fff;
  color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  background-color: #dc3545;
  color: #fff;
}


.inputFild {
  display: flex;
}
.inputFild button {
  margin-left: 2  0px;
}

.container {
  margin-top: 50px;
  background-color: #fff;
  border-radius: 20px; /* change this value to adjust the roundness */
  padding: 50px;
}

.buttonAdd {
  margin-left: 20px;
}

.taskButtons {
  display: flex;
  width: 100px;
  justify-content: space-between;
}

.spanTask {
  margin-left: 5px;
 
}