body {
    background-color: #f8f9fa;
  }
  
  .task-container {
    width: 45vw;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
  }
  
  .task-item {
    display: flex;
    align-items: center;
    margin-top: 10px;    
    padding: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
  }
  

  
  .add-task {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .add-task input[type="text"] {
    flex: 1;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-right: 10px;
  }
  
  .add-task button {
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }
.btn {
  display: flex;
  justify-content: center;
  align-items: center;

}
.task-list {
  height: 50vh;
}

.exclude-all {
  display: flex;
  justify-content: space-between;
}

.tasks-list {
  overflow: scroll;
  max-height: 500px;
  min-height: 500px
}

.inputFild {
  outline: 2px solid rgba(0,0,0,.2);
}

.task-item{
  justify-content: space-between;
  vertical-align: center;
}

.task-item p {
  margin: 0;
}