<div class="d-flex justify-content-center">
    <div class="todo-container">
      <h1>Todo List</h1>
      <div class="add-todo">
        <input type="text" id="new-todo" placeholder="Add new todo">
        <button type="button" class="btn btn-primary">
          Add
        </button>        
      </div>
    <div class="todo-list">
      <p>todo goes here</p>
      <p>todo goes here</p>
      <p>todo goes here</p>
      <p>todo goes here *ngFor treco</p>
    </div>
    <div class="exclude-all">
      <p>put something here</p>
      <button type="button" class="btn btn-danger">Exclude all</button>  
    </div>
    </div>
</div>